---
layout: default
---

{% include heading.html text="Featured Links" %}

{% include button.html text="My Website" image="/images/Website.png" url="https://fiyin.ng/" %}
{% include button.html text="Projects" image="/images/Pencil.png" url="https://fiyin.ng/projects" %}
<!-- {% include button.html text="Newsletter" image="/images/Mail.png" url="https://vyshnav.substack.com/" %} -->
<!-- {% include button.html text="Shop" image="/images/Cart.png" url="https://vyshnav.lemonsqueezy.com/" %} -->
<!-- {% include button.html text="What I'm Doing Now" image="/images/Clock.png" url="https://fiyin.ng/now" %} -->

{% include heading.html text="Other Links" %}

<!-- {% include button.html text="Blog" image="/images/Pen.png" url="https://fiyin.ng/blog/" %} -->
{% include button.html text="C.V." image="/images/Books.png"
url="https://docs.google.com/document/d/1X4Q8g_Bgow7bdlQ6sKM9Ix8KFJ37f254nAFjVjSY6DY/edit?usp=sharing" %}
<!-- {% include button.html text="Notion Products" image="/images/Store.png" url="https://fiyin.ng/blog/tags#notion" %} -->
<!-- {% include button.html text="Blender Store" image="/images/3D.png" url="https://fiyin.ng/resources/#blender-files" %} -->